node_modules/


uploads/usuarios/**.jpeg
uploads/usuarios/**.png
uploads/usuarios/**.gif

uploads/hospitales/**.jpeg
uploads/hospitales/**.png
uploads/hospitales/**.gif

uploads/medicos/**.jpeg
uploads/medicos/**.png
uploads/medicos/**.gif